.content-wrapper {
    min-height: 100vh;
}

.content-pane {
    min-height: 100vh;
    padding: 20px;
}



:host::ng-deep {
    .p-menubar {
        border-radius: 0;
    }

    .small-heading {
        font-size: 0.7rem;
        margin-bottom: 8px;
        color: #888888;
        text-transform: uppercase;
    }
}