
:host::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    background-color: white;
  }
}
@media screen and (max-width: 768px) {
    .flex-item {
      flex: 0 0 calc(100% - 10px);
      /* Each item takes 100% width with 10px spacing on smaller screens */
    }
  
    .col-8,
    .col-4,
    .col-6,
    .col-7,
    .col-5 {
      flex: 1 0 calc(100% - 10px);
      /* Each item takes 100% width with spacing on smaller screens */
      margin-right: 0;
      /* Remove right margin for col-8 */
      margin-bottom: 10px;
      /* Adjust bottom margin for col-4 */
    }
  }

  .oddRow{
    background-color: #F5F1F0 !important; /* Light gray for odd rows */
  }
