<p-toast></p-toast>
<div style="align-items: start;  width:-webkit-fill-available;">

    <div class="flex" style="align-items: start; justify-content: space-between;">
        <!-- For Middle Button Code -->
        <div style="margin-top: 30px; align-items: center; justify-content: center; width:-webkit-fill-available;"
            class="flex">
            <div style="width: 166px; height: 52px; display: flex; border-radius: 6px;
      align-items: center; justify-content: center;
     background-image: url('assets/Frame 1618868229.png');
     background-size: cover;
     background-position: center;
     background-repeat:no-repeat; ">
                <div style="font-size: 20px; font-weight: 600; line-height: 24px; color:#FFFFFF">e-ADM</div>
            </div>
        </div>

        <!-- Profile Tab on the Top Right Code-->
        <div *ngIf="!isTabletView" style="background-color: #FFFFFF; padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px;
        border-bottom-left-radius: 16px; width: 360px;">
            <div class="flex gap-3" style="justify-content: center; align-items: center;">
                <div>
                    <img src="assets/Ellipse 393.png" width="40px" alt="">
                </div>
                <div class="text-left">
                    <div class="flex gap-1" style="justify-content: start; align-items: center;">
                      <div class="text-sm 2xl:text-lg" style=" font-weight: 500; color: #000000;">6453 Harshath  Khan</div>
                      <div class="text-sm 2xl:text-lg" style=" font-weight: 500; color: #92278F;">(sm)</div>
                    </div>
                    <div class="text-sm 2xl:text-lg" style=" font-weight: 600; color: #92278F;">Sr Manager - DC 900</div>
                </div>
            </div>
        </div>

    </div>


    <!-- Down Part -->
    <div style="border-radius: 6px; background-color: #FFFFFF; margin-top: 30px; margin-left: 16px; margin-right: 16px; margin-bottom: 30px;"
        class="p-4">

        <div *ngIf="false" class="flex"
            style="justify-content: space-between; align-items: center; flex-wrap: wrap-reverse;">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="flex" style="flex-wrap: wrap-reverse;">
                    <div class="col-6"></div>
                    <div class="col-6 text-left">
                        <div class="mb-2" style="font-size: 14px; font-weight: 600; color: #4F4F4F; ">Date</div>
                        <p-calendar [(ngModel)]="date1" [showIcon]="true" />
                    </div>
                </div>
            </div>
        </div>


        <!-- Upload Box Code -->
        <div class="">
            <div style="display: flex; flex-direction: column;">
                <div style="font-size: 14px; font-weight: 600; color: #4F4F4F;">Compose</div>
            </div>

            <div class="border-1 "
                style="height: 103px; border-radius: 4px; border-width: 1px; margin-top: 10px; border-color: #B0B0B0; ">

                <div
                    style="font-size: 14px; font-weight: 600; color: #B0B0B0; margin-top: 12px; margin-bottom: 12px; margin-left: 16px;">
                    Upload here....</div>
                <div class="border-1" style="border-color: #B0B0B0;   border-top: 1px;"></div>

                <div class="flex mt-1"
                    style="justify-content: space-between; align-items: center; flex-wrap: wrap-reverse;">
                    <div class="col-8">
                    </div>

                    <div class="col-4">
                        <div style="display: flex; justify-content: end; align-items: center;">
                            <i class="pi pi-paperclip" style="color: #6D6D6D;"></i>
                            <i class="pi pi-image mx-4 " style="color: #6D6D6D;"></i>

                            <!-- Upload Button -->
                            <!-- <div class="flex align-items-center justify-content-center mx-2"
                                style="width: 145px; height: 32px; border-radius: 4px; background-color:#92278F; cursor: pointer;">
                                <div style="font-size: 16px; font-weight: 600; color: #FFFFFF;">Upload</div>
                            </div> -->

                            <!-- New Button As FileUpload -->
                            <div class="">
                                <p-fileUpload mode="basic" name="file" [url]="uploadUrl" accept=".csv"
                                    [maxFileSize]="1000000" [auto]="true" label="Upload" chooseLabel="Upload"
                                    class="mr-2 inline-block p-button-success"
                                    (onUpload)="importResponseHandler($event)"
                                    (onError)="importErrorHandler($event)"></p-fileUpload>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Validation Box Code -->
        <div class="flex"
            style="flex-wrap: wrap; justify-content: space-between; align-self: center; margin-top: 32px;">

            <div class="col-6 ">
                <!-- Success -->
                <div class="flex border-2"
                    style="justify-content: space-between; align-items: center; border-radius: 4px; border-color: #000000; flex-wrap: wrap;">

                    <div class="col-7 flex ml-2" style="justify-content: start;align-items: center;">
                        <i class="pi pi-check" style="color: #16A34A;"></i>

                        <div class="ml-2 lg:text-xl sm:text-sm m:text-base" style="font-weight: 600; color: #16A34A;">
                            Uploaded file validated</div>
                    </div>
                    <div class="col-4">
                        <div class="flex gap-2"
                            style="justify-content: center; align-items: center;  background-color: #92278F; border-radius: 4px;
                         padding-top: 6px; padding-bottom: 6px; padding-left: 15px; padding-right: 15px; flex-wrap: wrap-reverse; cursor: pointer;">
                            <i class="pi pi-download text-xl" style="color: #FFFFFF;"></i>
                            <div class="lg:text-base sm:text-sm md:text-sm" style="font-weight: 600; color: #FFFFFF;">
                                Download</div>
                        </div>
                    </div>
                </div>
                <!-- Failed -->
                <div *ngIf="false" class="flex border-2"
                    style="justify-content: space-between; align-items: center; border-radius: 4px; border-color: #000000; flex-wrap: wrap;">
                    <div class="col-7 flex ml-2" style="justify-content: start;align-items: center;">
                        <i class="pi pi-times" style="color: #C13E30;"></i>
                        <div class="ml-2 lg:text-xl sm:text-sm m:text-base" style="font-weight: 600; color: #C13E30;">
                            Error occurred</div>
                    </div>
                    <div class="col-4">
                        <div class="flex"
                            style="justify-content: center; align-items: center;  background-color: #F3EEED; border-radius: 4px;
                         padding-top: 6px; padding-bottom: 6px; padding-left: 15px; padding-right: 15px; cursor: pointer;">
                            <div class="" style="font-size: 16px; font-weight: 600; color: #92278F;">Check</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6"></div>
        </div>

        <!-- Result View Table -->
        <div class="flex"
            style="flex-wrap: wrap; justify-content: space-between; align-items: center; margin-top: 32px;">

            <div class="col-12 md:col-10 lg:col-10">
                <div class="border-1 p-3" style=" border-radius: 1px; border-width: 1px;border-color: #000000;">
                    <div style="font-size: 16px; font-weight: 600; color: #4F4F4F;" class="mb-3">E-ADM Reports</div>
                    <!-- Table Starts From here -->
                    <div>
                        <div class="card" style="overflow-x: scroll;">
                            <p-table [value]="records" [paginator]="true" [rows]="10" [first]="first"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                (onPage)="onPageChange($event)" [rowsPerPageOptions]="[10, 25, 50]">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th>Date</th>
                                        <th>Account Number</th>
                                        <th>Status</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record>
                                    <tr>
                                        <td>{{ record.date }}</td>
                                        <td>{{ record.accountNumber }}</td>
                                        <td
                                            [ngClass]="{'approvedText': record.status == 'Approved' , 'rejectedText': record.status != 'Approved' }">
                                            {{ record.status }}</td>
                                    </tr>
                                </ng-template>
                                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                                    [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-0 md:col-2 lg:col-2"></div>
        </div>
    </div>

</div>