<div style="align-items: start;  width:-webkit-fill-available;">

    <!-- For Middle Button Code -->
    <div style="margin-top: 30px; align-items: center; justify-content: center; width:-webkit-fill-available;"
        class="flex">
        <div style="width: 166px; height: 52px; background-color: #92278F; display: flex; border-radius: 6px;
         align-items: center; justify-content: center;">
            <div style="font-size: 20px; font-weight: 600; line-height: 24px; color:#FFFFFF">e-ADM</div>
        </div>
    </div>

    <!-- Down Part -->
    <div style="border-radius: 6px; background-color: #FFFFFF; margin-top: 30px; margin-left: 16px; margin-right: 16px; margin-bottom: 30px;" class="p-4">
      
        <div class="bg-gray-500">
            <div style="display: flex; flex-direction: column;">
              <div style="font-size: 14px; font-weight: 600; color: #4F4F4F;">Compose</div>
            </div>
        </div>
    </div>

</div>